body#id_mural_entrypoint{
  height: 100%;
  overflow-y: hidden;

  #id_wrap{
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  #id_mural_search_engine{
    height: 100%;

    .search-wrapper{
      height: 100%;

      #id_page_search{
        float: left;
        width: 60%;
        height: 100%;
        background: $grey-lighter;

        #id_page_search_results{
          height: calc(100% - 2.8rem);
          overflow-x: scroll;

          .results-wrapper{
            margin: 0.75rem;

            .column{
              a{
                display: block;
                border: 1px solid $cgGreen;
                box-shadow: 0 1px 2px rgba($black, 0.1);

                .item-image{
                  display: block;

                  img{
                    display: block;
                  }
                }

                .item-content{
                  padding: 0.75rem;
                  display: block;
                  background: $white-ter;

                  .item-title{
                    display: block;
                    min-height: 3rem;
                  }

                  .item-year{
                    display: block;
                  }
                }
              }
            }
          }

          #id_page_search_pagination{
            padding: 1.5rem;
            background: $white-ter;
          }
        }
      }

      #id_map_search{
        position: relative;
        float: left;
        width: 40%;
        height: 100%;
      }
    }
  }
}
