body#id_mural_entrypoint{
  height: 100%;
  overflow-y: hidden;

  #id_wrap{
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  #id_mural_search_engine{
    height: 100%;

    .search-wrapper{
      height: 100%;

      #id_page_search{
        float: left;
        width: 60%;
        height: 100%;
        background: $grey-lighter;

        #id_page_search_results{
          height: calc(100% - 2.8rem);
          overflow-x: scroll;

          &.fetching{
            #id_page_search_results_fetching{
              visibility: visible;
              opacity: 1;
            }
          }

          #id_page_search_results_fetching{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            @include transition(0.25s, ease-in-out);
          }

          .results-wrapper{
            margin: 0.75rem;

            .column{
              a{
                display: block;
                border: 1px solid $cgGreen;
                box-shadow: 0 1px 2px rgba($black, 0.1);

                .item-image{
                  display: block;

                  img{
                    display: block;
                  }
                }

                .item-content{
                  padding: 0.75rem;
                  display: block;
                  background: $white-ter;

                  .item-title{
                    display: block;
                    min-height: 3rem;
                  }

                  .item-year{
                    display: block;
                  }
                }
              }
            }
          }

          #id_page_search_pagination{
            padding: 1.5rem;
            background: $white-ter;
          }
        }
      }

      #id_map_search{
        position: relative;
        float: left;
        width: 40%;
        height: calc(100% - 3.5rem);

        #id_map_wrapper{
          position: relative;
          width: 100%;
          height: 100%;

          #map{
            width: 100%;
            height: 100%;

            .leaflet-popup{
              .leaflet-popup-close-button{
                padding: 5px;
                background: $cgGreen;
                color: $white;
                width: auto;
                height: auto;

                &:hover, &:focus{
                  color: $grey-lighter;
                }
              }

              .leaflet-popup-tip-container{
                .leaflet-popup-tip{
                  background: $cgGreen;
                }
              }

              .leaflet-popup-content-wrapper{
                @include rounded(0);
                border: 1px solid $cgGreen;

                .leaflet-popup-content{
                  margin: 0;

                  a{
                    display: block;
                    width: 300px;
                    box-shadow: 0 1px 2px rgba($black, 0.1);

                    .item-image{
                      display: block;

                      img{
                        display: block;
                      }
                    }

                    .item-content{
                      padding: 0.75rem;
                      display: block;
                      background: $white-ter;

                      .item-title{
                        display: block;
                        min-height: 3rem;
                      }

                      .item-year{
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
