[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
flake8 = "*"
flask-shell-ipython = "*"
ipython = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-pythonpath = "*"
pytest-spec = "*"
pytest-sugar = "*"
selenium = "*"
tox = "*"
Flask-DebugToolbar = "*"

[packages]
nameparser = "*"
requests = "*"
Pillow = "*"
Flask = "*"
SQLAlchemy-Utils = "*"
flask-uploads = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
flask-restplus = "*"
Flask-Babel = "*"
Flask-SSLify = "*"
Flask-thumbnails = "*"
