codecov>=1.6
django-debug-toolbar>=1.6
flake8>=2.2.5
ipython>=5.0
isort>=4.2
pytest>=3.0
pytest-cov>=1.8
pytest-django>=2.8
pytest-pythonpath>=0.7
pytest-spec>=0.2
pytest-sugar>=0.7
selenium>=3.3
tox>=1.7
