//
// Common elements
// --------------------------------------------------


html{
  height: 100%;
}

a{
  @include transition(0.25s, ease-in-out);
}

#id_wrap{
  clear: both;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}


/*
 * Header
 */

nav#id_header_nav{
  background: $cgBlue;


  a.nav-item{
    color: $grey-lighter;

    &:hover, &:focus{
      color: $white-ter;
    }

    &.brand{
      font-family: $tradeWindsRegular;
      font-size: $size-large;
    }
  }
}
