//
// Variables
// --------------------------------------------------


//== Colors
//

$cgBlue:            #2A363B;
$cgGreen:           #99B898;
$cgRed:             #E84A5F;


//== Bulma variables
//

$primary: $cgRed;


//== Typography
//

@font-face {
    font-family: 'opensansregular';
    src: url('../fonts/opensans/regular/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/regular/OpenSans-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensanssemibold';
    src: url('../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/semibold/OpenSans-Semibold-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensansbold';
    src: url('../fonts/opensans/bold/OpenSans-Bold-webfont.eot');
    src: url('../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/opensans/bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/bold/OpenSans-Bold-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosisbold';
    src: url('../fonts/dosis/bold/Dosis-Bold-webfont.eot');
    src: url('../fonts/dosis/bold/Dosis-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis/bold/Dosis-Bold-webfont.woff') format('woff'),
         url('../fonts/dosis/bold/Dosis-Bold-webfont.woff2') format('woff2'),
         url('../fonts/dosis/bold/Dosis-Bold-webfont.ttf') format('truetype'),
         url('../fonts/dosis/bold/Dosis-Bold-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yesteryearregular';
    src: url('../fonts/yesteryear/Yesteryear-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$opensansregular:           "opensansregular", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$opensanssemibold:          "opensanssemibold", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$opensansbold:              "opensansbold", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$dosisbold:                 "dosisbold", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$yesteryearRegular:         "yesteryearregular", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
