{% extends "base.html" %}

{% block title %}{{ gettext('Montréal murals') }}{% endblock title %}
{% block body_id %}id_mural_entrypoint{% endblock body_id %}
{% block data_controller %}mural:entrypoint{% endblock data_controller %}

{% block content %}
<div id="id_mural_search_engine"></div>
<div id="id_mural_api_url" data-url="{{ url_for('api.mural_mural_list') }}"></div>
<div id="id_filter_form_choices">
  <div id="id_filter_form_choices_year">
  {% for y in choices_year %}
  <div data-choicevalue="{{ y }}" data-choicelabel="{{ y }}"></div>
  {% endfor %}
  </div>
</div>
{% endblock content %}
